{% extends 'base.html' %}

{% load static %}

{% block title %}
project Page
{% endblock title %}

{% block content %}
<section class="projects-section center-column">

  <h2>Projects</h2>

  <div class="projects-list">
    <!--All the cards-->
    {% for project in projects %}
    <div class="project-card">
      <a href="{{project.repository}}" target="_blank">
        <img src="{{project.image.url}}">
        <p>{{project.name}}</p>
        <p>{{project.description}}</p>
        <p>{{project.year}}</p>

        <!---Skill-->
        {% for skill in porject.skill.all %}

        <div class="skills-container center">
          <label class="text-label">{{skill.name}}</label>


        </div>
        {% endfor %}
      </a>
    </div>
    {% endfor %}


</section>
{% endblock content%}