{% extends "base.html" %}

{% load static %}

{% block title %}
About Me
{% endblock %}


{%block content%}
<section class="about-section center">
  <div class="about-image-container center">
    <img src="{% static './img/myphoto.jpg' %}" alt="my picture" />

  </div>

  <div class="about-description-container center-column">
    <div class="center-column">
      <h1>My role as developer</h1>
      <h2>Tatiana McCray</h2>
    </div>

    <p>
      Hi! I’m a passionate front-end developer who loves turning ideas into clean, responsive, and engaging websites.
      I’ve been building projects like coffee blog, my cookie shop web app, and a React-based project which is an
      electronic site, each one helping
      me improve in my skills and creativity. I work mainly with HTML, CSS, and JavaScript, and I’m especially strong in
      JavaScript — I enjoy using it to make websites come alive with smooth interactions and smart functionality. I also
      have experience with React, and Python, which helps me understand both front-end and back-end concepts. What
      drives me most is the process of creating, problem-solving, and continuously improving. I love learning new tools,
      refining designs, and finding better ways to build user-friendly experiences. When I’m not coding, I’m usually
      exploring new design ideas, learning more about web technologies, or brainstorming my next project.

    </p>
  </div>
</section>
{% endblock %}