/*Variables*/
:root {
    --primary-color: #8B4513; /* SaddleBrown */
    --secondary-color: #A0522D; /* Sienna */
    --neutral-color: #3E2723; /* Dark brown for text */
    --background-color: #FDF6EE; /* Soft beige background */
    --surface-color: #D2B48C; /* Tan surface */
    
    --lobster-font: 'Lobster', sans-serif;
    --sans-font: 'DM Sans', sans-serif;
}

/* Centering utilities */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* General style */
html {
    background-color: var(--background-color);
    font-size: 14px;
}

* {
    font-family: var(--sans-font);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Text Styles */
h1 {
    color: var(--neutral-color);
    font-size: 2rem; 
    text-transform: uppercase;
}

h2 {
    color: var(--primary-color);
    font-family: var(--lobster-font);
    font-weight: 400;
    letter-spacing: 0.06rem;
    font-size: 1.8rem;
}

p {
    color: var(--neutral-color);
    font-size: 1.1rem;
}

.text-label { 
    color: white;
    background-color: var(--secondary-color);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    cursor: default;
}
