header {
    background-color: #ff7b00;
    height: 70px;
    position:sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,1);
    z-index: 100;
}


/*Right Side*/
nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    
}

.nav-link {
    height: 100%;
}

.nav-link a {
    color:white;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 2%;
    padding: 0.5rem 0.8rem;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.nav-link a:hover {
    background-color: rgba(255,255,255,0.2);
    transform: scale(1.05);
}

/*Hamburger button*/
.nav-btn span {
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

#nav-check, .nav-btn {
    display: none;
}