/* Responsive Desigm and the Breakpoints

Good practices: Add at least two media queries, one for tablet and one for phones.

Following the Microsoft documentation.

Phone or Small screen

    @media(max-width:640px) {
        //Your style here
    }

Tablet or Medium screen

    @media((min-width:641px) and (max-width:1007px)){
        //Your style here
    }

Desktop or Big screen
    All the style that is outside a media query.
        html {
            background-color: var(--background-color);
            font-size: 14px;
        }
*/

/*Tablet*/
@media(max-width:1007px) {
    html {
        font-size: 12px;
    }

    /*Responsive Design for the Sections*/
    .about-section {
        flex-direction: column;
    }

    .about-description-container {
        width: 100%;
    }

    .about-image-container {
        margin-bottom: 4rem;
    }

    .project-card {
        width: 100%;
    }

    .project-card a img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
        object-position: center 50%;
    }

    .project-card a {
        width: 100%;
        height: min-content;
        flex-direction: column;
    }
}

/*Phone*/
@media(max-width:640px) {
    
    html {
        font-size: 10px;
    }

    label { cursor: pointer;}

    header {
        height: max-content;
        padding: 2%;
    }

    .nav-link {
        flex-direction: column;
        gap: 1rem;
    }

    /*Toggle function*/
    .nav-btn {
        display: inline-flex;
    }
    #nav-check:not(:checked)~.nav-link {
        height: 0px;
        overflow: hidden;
    }

    #nav-check:checked~.nav-link {
        height: auto;
        overflow: auto;
    }

    footer {
        flex-direction: column;
    }

    footer nav {
        height: fit-content;
    }
}