{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800&family=Lobster&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/base.css'%}" />
  <link rel="stylesheet" href="{% static 'css/footer.css'%}" />
  <link rel="stylesheet" href="{% static 'css/header.css'%}" />
  <link rel="stylesheet" href="{% static 'css/responsive.css'%}" />
  <link rel="stylesheet" href="{% static 'css/section.css'%}" />
  <title>{%block title%}{%endblock%}</title>
</head>

<body>
  <header class="center">

    <!--Links or Options of the Menu-->
    <div class="nav-link center">
      <a href="{% url 'about_me' %}">About me</a>
      <a href="{% url 'project' %}">Projects</a>
      <a href="{% url 'experience' %}">Experience</a>
      <a href="{% url 'contact' %}">Conatct</a>
    </div>
    </nav>
  </header>

  <main>
    {% block content %}

    {% endblock %}
  </main>

  <footer>
    <a href="">
      <h2>Tatiana McCray</h2>
    </a>

    <nav class="nav-footer center">
      <a href="">About Me</a>
      <a href="">Projects</a>
      <a href="">Experience</a>
      <a href="">Contact</a>
    </nav>
  </footer>
</body>

</html>